@model List<ShelterManagerRedux.Models.ShelterLocation>
@{
    ViewData["Title"] = "ClientView";
}

<h1>Partnered Shelter</h1>
<a asp-action="ShowInterest">Create Account</a>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>  
<table class="table table-bordered table-responsive table-hover">  
    <tr>  
        <th>ShelterID</th>
        <th>Shelters</th>  
        <th>Availability</th>  
        <th>Show Interest</th>  
        <th>Info</th>
       
    </tr>  
    @foreach (ShelterLocation v in Model)
      {
    <tr>
        <td>@v.Shelter_Location_ID</td>
        <td>@v.Shelter_Location_Description</td>  
            <td>@v.Shelter_Location_Available_Room/@v.Shelter_Location_Total_Room</td>
            <td>
                <form action="">
                    <button type="button" onclick="location.href='@Url.Action("ShowInterest","ClientViewController")'"> Button name</button>
                </form>
            </td>
        <td><a href="@v.Shelter_Location_Description">shelter info</a></td>

    </tr>
      }
</table>  



