@model ShelterManagerRedux.Models.Client

@{
    ViewData["Title"] = "Client Detail Manager";
}
<h1>@ViewData["Title"]</h1>

@if(Model != null)
{
    @using (Html.BeginForm("ClientDetailManager", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>First Name</td>
                <td>@Html.TextBoxFor(m => Model.F_Name, new { @class = "CommonField", MaxLength = 100 })
                    @Html.ValidationMessageFor(m => @Model.F_Name)
                </td>
            </tr>
            <tr>
                <td>Middle Name</td>
                <td>@Html.TextBoxFor(m => Model.M_Name, new { @class = "CommonField", MaxLength = 100 })</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@Html.TextBoxFor(m => Model.L_Name, new { @class = "CommonField", MaxLength = 100 })
                    @Html.ValidationMessageFor(m => @Model.L_Name)
                </td>
            </tr>
            <tr>
                <td>Shelter Location</td>
                <td>@Html.DropDownListFor(x => Model.Shelter_Location_ID, new SelectList(ViewBag.ShelterLocations, "Shelter_Location_ID", "Shelter_Location_Description", ViewBag.ShelterLocations), new { @class = "xxx" })</td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit"  onclick="return ValidateForm();" >SAVE</button>
                    @ViewBag.ErrorMessage
                </td>
            </tr>
            <tr style="visibility: hidden;">
                <td></td>
                <td>@Html.TextBoxFor(m => Model.ClientID, new { @class = "CommonField", MaxLength = 100 })</td>
            </tr>
        </table>
    }
}
else if (ViewBag.ErrorMessage.Length == 0)
{
    <script>
        opener.location.reload();
        self.close();
    </script>
}



<script>
    function ValidateForm() 
    { 
        var F_Name = document.getElementById('F_Name').value;
        if (F_Name == null || F_Name.length == 0) 
        { 
            alert("First Name is Required!");
            return false;
        }

        var L_Name = document.getElementById('L_Name').value;
        if (L_Name == null || L_Name.length == 0) {
            alert("Last Name is Required!");
            return false;
        }
        return true;
    }
</script>

