@model List<ShelterManagerRedux.Models.ClientView>
@{
    ViewData["Title"] = "ClientView";
}

<h1>Shelters</h1>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>  
<table class="table table-bordered table-responsive table-hover">  
    <tr>  
        <th>ShelterID</th>
        <th>Shelters</th>  
        <th>Availability</th>  
        <th>Show Interest</th>  
        <th>Info</th>
       
    </tr>  
    @foreach (ClientView a in Model)
      {
    <tr>
       @*  <td style="visibility: hidden;" >@a.ShelterID</td> *@
        <td>@a.Shelter_Location_ID</td>
        <td>@a.Shelter_Location_Description</td>  
        <td>@a.AvailableSpace/@a.TotalSpace</td>
            <td>
                <form action="">
                    <button type="submit" onclick="CotCount(@a.Shelter_Location_ID)">Show Interest</button>
                   @*  <button type="submit" onclick="@a.AvailableSpace == @a.AvailableSpace - 1">Show Interest</button> *@
                </form>
            </td>
        <td><a href="@a.Shelter_Location_Description">shelter info</a></td>

    </tr>
      }
</table>  



